@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
    font-family: "Geist", serif;
}

/* todo: do I want this on every number input? */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.standard-button {
    @apply py-2 bg-accent font-bold rounded-md;
}